.home__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh;  */
    text-align: center;
    margin-top: 0px;
}

.home-content {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  gap: 1.875em;
  margin-top: 0px;
  padding: 0;
  min-height: 100vh; /* Ensures full viewport height */
  text-align: center;
  height: auto;
  justify-content: center;
}

.api-sources__container,
.style-guide_container {
  margin-top: 150px;
  width: 100%;
  text-align: center;
}

.style-guide_container {
  margin-bottom: 100px;
}

html {
  scroll-behavior: smooth;
}

.title-text {
  color: var(--black);
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.title-text .title-text-accent {
  color: var(--primary-color);
}

.description-text {
  color: var(--dark-grey);
  font-size: 1.3em;
  margin: 0;
}

.plan-button {
  color: var(--white);
  cursor: pointer;
  font-size: 1em;
  width: 185;
  height: 2.5em;
  border-radius: 1em;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.plan-button:hover {
  transform: scale(1.05);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.trust-section {
  text-align: center;
  padding: 50px 20px;
  /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
  border-radius: 10px;
  margin: 40px auto;
  max-width: 800px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.trust-header {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
}

.trust-text {
  font-size: 1.2rem;
  color: var(--dark-grey);
}

@media screen and (max-width: 480px) {
  .nav-show-login-signup {
    display:flex;
  }
}


