.logo img {
  height: 55px;
  width: auto;
  margin-left: 1.5rem;
}

.logo-btn {
  background: none;
  border: none;
  box-shadow: none;
}

.logo-btn:hover {
  background: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 1.5rem;
  padding-left: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease-in-out;
}

.navbar-links {
  background: none;
  border: none;
  color: var(--black);
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  box-shadow: none;
  transition: ease-in-out 0.3s;
}

.navbar-links:hover {
  text-decoration: none;
  opacity: 0.9;
  background: none;
  color: var(--primary-color);
}

.browse-hotels-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.browse-hotels-nav h1 {
  font-size: 20px;
  color: var(--dark-grey);
}

.tripago-fav {
  width: 60px;
  height: 50px;
  /* margin: 10px 0; */
  margin-left: 5px;
  margin-right: 5px;
}

.back-arrow {
  width: 35px; /* Adjust size */
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
}

@media (max-width: 679px) {
  .center-logo-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0; /* overrides the default */
  }
}

/* MEDIA QUERIES   */

@media (max-width: 480px) {
  /* Center the logo */
  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .logo img {
    margin-top: 8px;
    height: 60px;
  }

  /* Hide the nav links and show the menu icon */
  .nav-links {
    display: none;
  }
}
